* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #d3d2d2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #608ee2;
}

h1 {
    width: 20%;
    border: 1px solid #608ee2;
}

.nav {
    height: 100%;
    width: 70%;
    border: 1px solid #608ee2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.categoriasProductos{
    width: 70%;
    height: 100%;
    display: flex;
    gap: 5px;
}


.botonNav{
    height: 100%;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.imgCarrito {
    width: 50px;
    height: 50px;
    margin: -5px;
}

main {
    background-color: #d3d2d2;
}


.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.producto {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.producto h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.producto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.botonVerMas {
    width: 100%;
    padding: 12.5px 20px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.botonVerMas:hover {
    background-color: #152ba8;
    transform: scale(1.1);
}
    
.botonVerMas:active {
    background-color: #2ba8fb;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}
/*.producto {
    border: 1px solid red;
}
*/
/*Estilos footer*/

.footer{
    height: 200px;
    width: 100%;
    margin-top: 100px;
    background-color: #608ee2;
    font-size: 20px;
}

.contenedorFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedorSeccionesFooter{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.itemsRedes{
    list-style: none;
    padding: 0%;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.logoRedes:hover{
    transform: scale(1.1);
}

.itemsContacto{
    list-style: none;
    padding: 0%;
}

.subtituloFooter{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 30px;
}

.logoRedes{
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.mapa{
    width: 300px;
    height: 200px;
}

.itemRedes{
    margin-top: 10px;
}
